### Accenture Virtual training data cleaning and manipulating

#### Importing libraries

In [1]:
import pandas as pd
import numpy as np

#### Importing data

In [2]:
data=pd.read_csv("UsersData.csv")

#### Exploaring the data

In [3]:
data.head(10)

,Name,Age,Address,Interests,Category,Device,Duration,Type,Datetime
0,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,adore,2020-07-09 20:40:17
1,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,adore,2020-10-05 10:25:26
2,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,adore,2020-11-02 05:18:26
3,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,cherish,2020-07-05 13:41:38
4,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,cherish,2020-11-23 18:39:33
5,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,cherish,2021-04-23 18:55:00
6,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,cherish,2021-05-02 17:31:20
7,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,cherish,2021-06-01 07:55:50
8,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,disgust,2020-10-31 11:49:48
9,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,disgust,2020-11-20 19:40:53

In [4]:
data.tail(10)

,Name,Age,Address,Interests,Category,Device,Duration,Type,Datetime
44867,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,scared,2021-05-01 21:53:54
44868,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,scared,2021-05-25 02:00:44
44869,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,super love,2020-08-25 12:23:06
44870,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,super love,2020-09-14 11:04:34
44871,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,super love,2021-01-19 19:57:16
44872,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,want,2020-10-21 19:33:24
44873,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,want,2021-03-04 19:59:01
44874,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,worried,2021-05-22 14:19:16
44875,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,worried,2021-05-26 15:41:25
44876,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,worried,2021-06-14 16:07:08

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44877 entries, 0 to 44876
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       44877 non-null  object
 1   Age        44877 non-null  int64
 2   Address    44877 non-null  object
 3   Interests  44877 non-null  object
 4   Category   44877 non-null  object
 5   Device     44877 non-null  object
 6   Duration   44877 non-null  int64
 7   Type       44877 non-null  object
 8   Datetime   44877 non-null  object
dtypes: int64(2), object(7)
memory usage: 3.1+ MB

* Removing the data where age is misleading or in accurate

In [6]:
data["Age"].value_counts()

16    1674
39    1560
5     1551
42    1536
41    1496
38    1445
2     1432
15    1421
36    1410
4     1401
14    1325
8     1286
28    1258
10    1227
26    1125
3     1091
21    1086
43    1049
25    1042
0     1003
32     988
11     982
19     949
9      925
27     920
31     886
23     865
7      844
20     829
30     775
24     775
29     752
13     711
17     709
22     703
34     672
44     649
33     648
1      625
40     607
35     606
37     604
18     591
6      469
12     375
Name: Age, dtype: int64

In [7]:
data1=data[data["Age"]>6]
data1

,Name,Age,Address,Interests,Category,Device,Duration,Type,Datetime
0,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,adore,2020-07-09 20:40:17
1,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,adore,2020-10-05 10:25:26
2,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,adore,2020-11-02 05:18:26
3,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,cherish,2020-07-05 13:41:38
4,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,cherish,2020-11-23 18:39:33
...,...,...,...,...,...,...,...,...,...
44872,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,want,2020-10-21 19:33:24
44873,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,want,2021-03-04 19:59:01
44874,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,worried,2021-05-22 14:19:16
44875,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,worried,2021-05-26 15:41:25
44876,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,worried,2021-06-14 16:07:08

* populating the state column

In [8]:
data1[["address","state$zip"]]=data1["Address"].str.split(",",expand=True)
data1[["c","State","Zip","c1","c2"]]=data1["state$zip"].str.split(" ",expand=True)
data2=data1.drop(columns=["state$zip","c","c1","c2"])
data2["Type_reraction"]=data2["Type"]
data3=data2.drop(columns="Type")
data3

C:\Users\DELL\miniconda3\envs\minimal_ds\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Name,Age,Address,Interests,Category,Device,Duration,Datetime,address,State,Zip,Type_reraction
0,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,2020-07-09 20:40:17,6208 Wright Mountains\nBryantfurt,AR,02531,adore
1,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,2020-10-05 10:25:26,6208 Wright Mountains\nBryantfurt,AR,02531,adore
2,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,2020-11-02 05:18:26,6208 Wright Mountains\nBryantfurt,AR,02531,adore
3,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,2020-07-05 13:41:38,6208 Wright Mountains\nBryantfurt,AR,02531,cherish
4,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",animals,Microsoft,11,2020-11-23 18:39:33,6208 Wright Mountains\nBryantfurt,AR,02531,cherish
...,...,...,...,...,...,...,...,...,...,...,...,...
44872,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,2020-10-21 19:33:24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,FL,73790,want
44873,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,2021-03-04 19:59:01,51539 Sullivan Extensions Apt. 265\nSouth Trav...,FL,73790,want
44874,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,2021-05-22 14:19:16,51539 Sullivan Extensions Apt. 265\nSouth Trav...,FL,73790,worried
44875,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,2021-05-26 15:41:25,51539 Sullivan Extensions Apt. 265\nSouth Trav...,FL,73790,worried
44876,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",culture,Samsung,91,2021-06-14 16:07:08,51539 Sullivan Extensions Apt. 265\nSouth Trav...,FL,73790,worried

In [9]:
data3.to_csv("user_data.csv")

#### Removing Duplicates to get User-wise Data Not traffic-wise data

In [10]:
data4=data3.drop(columns=["Datetime","Type_reraction","Category"])
data5=data4.drop_duplicates()
data5

,Name,Age,Address,Interests,Device,Duration,address,State,Zip
0,Gary Hill,41,"6208 Wright Mountains\nBryantfurt, AR 02531","[0, 1]",Microsoft,11,6208 Wright Mountains\nBryantfurt,AR,02531
147,Michael Deering,23,"534 Williams Turnpike Suite 788\nPort Julie, W...",['tennis'],Apple,51,534 Williams Turnpike Suite 788\nPort Julie,WA,70786
334,Betty Ellis,44,Unit 2614 Box 8996\nDPO AE 23660,['education'],Huawei,57,Unit 2614 Box 8996\nDPO AE 23660,None,None
416,Hazel Neville,28,"42350 Wilson Turnpike Suite 472\nMendezmouth, ...","['culture', 'healthy eating']",Apple,90,42350 Wilson Turnpike Suite 472\nMendezmouth,VT,50550
629,Chester Smith,23,"271 Ashley Fork Suite 100\nMichaelburgh, MO 35011","['public speaking', 'science', 'veganism', 'te...",Huawei,58,271 Ashley Fork Suite 100\nMichaelburgh,MO,35011
...,...,...,...,...,...,...,...,...,...
44523,Candice Dickerson,19,"617 Douglas Turnpike\nEast Rebeccashire, WI 48819","['food', 'healthy eating']",Apple,74,617 Douglas Turnpike\nEast Rebeccashire,WI,48819
44572,Tracey Corbett,21,"710 Tiffany Knoll Suite 379\nCarterport, HI 44352","['tennis', 'veganism', 'education', 'soccer']",Motorola,59,710 Tiffany Knoll Suite 379\nCarterport,HI,44352
44681,Marion Stecklein,14,"1944 Gonzalez Cove\nSouth Jason, SD 65716",['soccer'],Microsoft,35,1944 Gonzalez Cove\nSouth Jason,SD,65716
44789,Jeffery Zerbe,24,"41287 Miller Isle\nTylermouth, VT 38540","['public speaking', 'dogs']",Motorola,99,41287 Miller Isle\nTylermouth,VT,38540
44836,Darcel Smith,24,51539 Sullivan Extensions Apt. 265\nSouth Trav...,"['education', 'science', 'animals', 'public sp...",Samsung,91,51539 Sullivan Extensions Apt. 265\nSouth Trav...,FL,73790